<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" type="image/x-icon" href="./images/favicon.jpeg">
    <title>CEVPU - Conférence nationale des étudiants vice-présidents d'univesrité</title>
    <!-- IMPORT -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="container" lang="fr">
    <header>
        <div class="logo">
            <a href="index.html"><img src="./images/CEVPU_Communication_Logo_Court.PNG" alt="Logo de la CEVPU"></a>
        </div>
        <nav class="navbar">
            <input type="checkbox" class="toggle-menu" id="toogle-menu">
            <label for="toogle-menu"><div class="hamburger"></div></label>
            <ul class="navbar-nav">
                <br>
                <li class="nav-item"><a class="nav-link" href="index.html">Présentation</a></li>
                <li class="nav-item"><a class="nav-link" href="fonctionnement.html">Fonctionnement</a></li>
                <li class="nav-item"><a class="nav-link" href="histoire.html">Histoire</a></li>
                <li class="nav-item"><a class="nav-link" href="travaux.html">Travaux</a></li>
                <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

        <div class="corpus">
            <!-- Section 1 -->
            <div class="section1">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, perspiciatis? Perspiciatis illo voluptatibus reprehenderit consectetur non impedit iusto neque deserunt, itaque esse consequatur, libero praesentium expedita reiciendis culpa placeat deleniti sequi, commodi nulla? Soluta alias quos debitis minus dolorum? Ut quibusdam ipsa odio eaque mollitia reiciendis repudiandae, alias, sint voluptas suscipit magnam voluptatem, in rerum aperiam dolores vitae ullam. Voluptatum temporibus non in hic eaque exercitationem debitis illo eum consequuntur tempore amet commodi, cum adipisci corrupti aut facilis corporis nulla ad omnis, autem explicabo illum delectus repellat. Sapiente, veniam cupiditate autem reprehenderit doloremque corrupti consequuntur quisquam explicabo, id soluta obcaecati?</p>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="grid-footer center">
                <p><a href="mentions-legales.html">Mentions légales</a></p>
                <p><a href="contact.html">Contact</a></p>
            </div>
        </footer>
    </div>
</body>
</html>
