<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" type="image/x-icon" href="./images/favicon.jpeg">
    <title>CEVPU - Conférence nationale des étudiants vice-présidents d'univesrité</title>
    <!-- IMPORT -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body class="container" lang="fr">
    <header>
        <div class="logo">
            <a href="index.html"><img src="./images/CEVPU_Communication_Logo_Court.PNG" alt="Logo de la CEVPU"></a>
        </div>
        <nav>
            <ul>
              <li><a href="index.html">Présentation</a></li>
              <li><a href="fonctionnement.html">Fonctionnement</a></li>
              <li><a href="histoire.html">Histoire</a></li>
              <li><a href="travaux.html">Travaux</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="corpus">
    </div>

        <!-- Footer -->
        <footer>
            <div class="grid-footer center">
                <p><a href="mentions-legales.html">Mentions légales</a></p>
                <p><a href="mailto:contact@cevpu.org?subject=Contact">Contact</a></p>
            </div>
        </footer>
    </div>
</body>
</html>
